.nav-m {
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}
.nav-m .link-m {
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-delay: 0.3s;
}

@keyframes open {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes close {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
#intro-bg::before {
  content: "";
  position: absolute;
  background: #5368df;
  width: 100%;
  height: 10rem;
  border-radius: 10rem 0 0 10rem;
  z-index: -1;
  margin-top: 3.5rem;
  margin-left: 4rem;
}

@media (min-width: 425px) {
  #intro-bg::before {
    height: 12rem;
  }
}
@media (min-width: 640px) {
  #intro-bg::before {
    margin-top: 6rem;
    height: 19rem;
  }
}
@media (min-width: 768px) {
  #intro-bg::before {
    margin-top: 8rem;
    height: 22rem;
  }
}
@media (min-width: 1024px) {
  #intro-bg::before {
    margin-top: 7rem;
    height: 16rem;
    margin-left: 7rem;
  }
}
@media (min-width: 1280px) {
  #intro-bg::before {
    margin-top: 8rem;
    height: 21rem;
    margin-left: 7rem;
  }
}
@media (min-width: 1440px) {
  #intro-bg::before {
    margin-top: 8rem;
    height: 23rem;
    margin-left: 7rem;
  }
}
#content-img-bg::before {
  content: "";
  position: absolute;
  background: #5368df;
  width: 100%;
  height: 12rem;
  border-radius: 0 10rem 10rem 0;
  z-index: -1;
  margin-top: 2rem;
  transform: translateX(-6.5rem);
}

@media (min-width: 425px) {
  #content-img-bg::before {
    height: 14rem;
  }
}
@media (min-width: 640px) {
  #content-img-bg::before {
    margin-top: 4rem;
    height: 23rem;
  }
}
@media (min-width: 768px) {
  #content-img-bg::before {
    margin-top: 5rem;
    height: 27rem;
  }
}
@media (min-width: 1024px) {
  #content-img-bg::before {
    margin-top: 5rem;
    height: 17rem;
    transform: translateX(-39rem);
  }
}
@media (min-width: 1280px) {
  #content-img-bg::before {
    margin-top: 6rem;
    height: 21rem;
    transform: translateX(-52rem);
  }
}
@media (min-width: 1440px) {
  #content-img-bg::before {
    margin-top: 6rem;
    height: 21rem;
    transform: translateX(-62rem);
  }
}
#content-img-bg-2::before {
  content: "";
  position: absolute;
  background: #5368df;
  width: 100%;
  height: 14rem;
  border-radius: 0 10rem 10rem 0;
  z-index: -1;
  margin-top: 3rem;
  transform: translateX(-6.5rem);
}

@media (min-width: 425px) {
  #content-img-bg-2::before {
    height: 17rem;
    transform: translateX(-8rem);
  }
}
@media (min-width: 640px) {
  #content-img-bg-2::before {
    margin-top: 4.5rem;
    height: 27rem;
    transform: translateX(-14rem);
  }
}
@media (min-width: 768px) {
  #content-img-bg-2::before {
    margin-top: 5rem;
    height: 34rem;
    transform: translateX(-15.5rem);
  }
}
@media (min-width: 1024px) {
  #content-img-bg-2::before {
    margin-top: 5rem;
    height: 19rem;
    transform: translateX(-43rem);
  }
}
@media (min-width: 1280px) {
  #content-img-bg-2::before {
    margin-top: 6rem;
    height: 22rem;
    transform: translateX(-55rem);
  }
}
@media (min-width: 1440px) {
  #content-img-bg-2::before {
    margin-top: 6rem;
    height: 22rem;
    transform: translateX(-65rem);
  }
}
#content-img-bg-3::before {
  content: "";
  position: absolute;
  background: #5368df;
  width: 100%;
  height: 15rem;
  border-radius: 0 10rem 10rem 0;
  z-index: -1;
  margin-top: 3rem;
  transform: translateX(-4.5rem);
}

@media (min-width: 425px) {
  #content-img-bg-3::before {
    height: 17rem;
    transform: translateX(-5rem);
  }
}
@media (min-width: 640px) {
  #content-img-bg-3::before {
    margin-top: 6rem;
    height: 27rem;
    transform: translateX(-8rem);
  }
}
@media (min-width: 768px) {
  #content-img-bg-3::before {
    margin-top: 8rem;
    height: 32rem;
    transform: translateX(-9rem);
  }
}
@media (min-width: 1024px) {
  #content-img-bg-3::before {
    margin-top: 5rem;
    height: 19rem;
    transform: translateX(-39rem);
  }
}
@media (min-width: 1280px) {
  #content-img-bg-3::before {
    margin-top: 6rem;
    height: 22rem;
    transform: translateX(-55rem);
  }
}
@media (min-width: 1440px) {
  #content-img-bg-3::before {
    margin-top: 6rem;
    height: 22rem;
    transform: translateX(-65rem);
  }
}
#tab0 h5 {
  color: #9194a1;
}
#tab0 hr {
  display: none;
  width: 0%;
}
#tab0 hr {
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}
@keyframes extend {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

#tab-content0 {
  display: flex;
}

#tab1 h5 {
  color: #9194a1;
}
#tab1 hr {
  display: none;
  width: 0%;
}
#tab1 hr {
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}
@keyframes extend {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

#tab-content0 {
  display: flex;
}

#tab2 h5 {
  color: #9194a1;
}
#tab2 hr {
  display: none;
  width: 0%;
}
#tab2 hr {
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}
@keyframes extend {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

#tab-content0 {
  display: flex;
}

.q-tab .arrow::after {
  content: url(../assets/icon-arrow.svg);
}

#qtab-toggler1:checked + #answer1 {
  display: block;
}

#qtab-toggler2:checked + #answer2 {
  display: block;
}

#qtab-toggler3:checked + #answer3 {
  display: block;
}

#qtab-toggler4:checked + #answer4 {
  display: block;
}

.subscribe .result-bg .error-icon::after {
  content: url(../assets/icon-error.svg);
}

/*# sourceMappingURL=style.css.map */
